<nav class="backdrop-blur dark:bg-transparent fixed w-full z-50 top-0 start-0">

  <div class="blur-none max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo.webp" class="h-6" alt="Fit360 Logo">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <!-- Botón para mostrar el perfil de usuario, solo si el usuario está autenticado -->
      <button *ngIf="authService.isAuthenticated()" data-popover-target="popover-user-profile" type="button"
        class="text-black hover:bg-[#bddd49] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center bg-[#d6fd51] focus:ring-[#d6fd51]">User
        profile</button>
      <div data-popover id="popover-user-profile" role="tooltip"
        class="absolute z-10 invisible inline-block w-64 text-sm text-gray-200 transition-opacity duration-300 bg-[#333333] border border-[#d6fd51] rounded-lg shadow-sm opacity-0">
        <div class="p-3" *ngIf="authService.isAuthenticated()">
          <div class="flex items-center justify-between mb-2">
            <a href="/profile">
              <img *ngIf="user?.picture" [src]="user.picture" alt="{{user.name}}" class="w-10 h-10 rounded-full">
              <!-- data:image/jpg;base64,{{user.picture}} -->
            </a>
            <div>
              <button (click)="toggleAuthentication()" type="button"
                class="text-black bg-[#d6fd51] focus:ring-[#d6fd51] hover:bg-[#bddd49] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5">Log
                Out</button>
            </div>
          </div>
          <p class="text-base font-semibold leading-none text-gray-900 dark:text-white"
            *ngIf="authService.isAuthenticated()">
            <a *ngIf="user?.name" href="/profile">{{user.name}} {{user.surname}}</a>
          </p>
          <p class="mb-3 text-sm font-normal" *ngIf="authService.isAuthenticated()">
            <a *ngIf="user?.username" href="/profile" class="hover:underline">&#64;{{user.username}}</a>
          </p>
          <p class="mb-4 text-xs"><a [routerLink]="['/profile', 'edit']" class="text-[#d6fd51] hover:underline">Manage
              Profile</a></p>
          <p class="mb-4 text-xs"><a [routerLink]="['/profile', 'routines']"
              class="text-[#d6fd51] hover:underline">Manage
              Routines</a></p>
          <ul class="flex text-sm" *ngIf="authService.isAuthenticated()">
            <li class="me-2">
              <a href="" class="hover:underline">
                <span class="font-semibold text-gray-900 dark:text-white">Joined </span>
                <span *ngIf="user?.joinDate">{{user.joinDate}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div data-popper-arrow></div>
      </div>


      <!-- Botón para iniciar sesión, solo si no hay una cookie de sesión -->
      <button *ngIf="!authService.isAuthenticated()" (click)="toggleAuthentication()"
        class="text-black hover:bg-[#bddd49] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center bg-[#d6fd51] focus:ring-[#d6fd51]">
        Log In
      </button>

      <button data-collapse-toggle="navbar-cta" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="bg-transparent items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user">
      <ul
        class="bg-transparent flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-black md:dark:bg-transparent dark:border-gray-700">
        <li>
          <a href="#" [attr.aria-current]="isCurrentRoute('/') ? 'page' : null"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#d6fd51] md:p-0 dark:text-white md:dark:hover:text-[#d6fd51] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
        </li>
        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded  md:hover:bg-transparent md:border-0 md:p-0 md:w-auto text-white hover:text-[#d6fd51] border-gray-700 hover:bg-gray-700 md:hover:bg-transparent">
            Exercises
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg></button>
          <!-- Dropdown menu -->
          <div id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-[#242424] dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a href="/push"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#4F4F4F] dark:hover:text-white">Push
                  <img src="assets/svgs/chest.svg" class="inline-block mb-1">
                </a>
              </li>
              <li>
                <a href="/pull"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#4F4F4F] dark:hover:text-white">Pull
                  <img src="assets/svgs/back.svg" class="inline-block mb-1">
                </a>
              </li>
              <li>
                <a href="/legs"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#4F4F4F] dark:hover:text-white">Legs🦵🏻</a>
              </li>
              <li>
                <a href="/arms"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#4F4F4F] dark:hover:text-white">Arms💪🏻</a>
              </li>
            </ul>
            <div class="py-1">
              <a href="/exercises"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-[#4F4F4F] dark:text-gray-200 dark:hover:text-white">Full
                Exercises</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/routines" [attr.aria-current]="isCurrentRoute('/routines') ? 'page' : null"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#d6fd51] md:p-0 dark:text-white md:dark:hover:text-[#d6fd51] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Routines</a>
        </li>
      </ul>
    </div>
  </div>
</nav>