<div class="w-6/12 relative mx-[10.5rem]  z-20">
  <input id="article-01" type="radio" name="slider" class="sr-only peer/01">
  <input id="article-02" type="radio" name="slider" class="sr-only peer/02">
  <input id="article-03" type="radio" name="slider" class="sr-only peer/03" checked="">
  <input id="article-04" type="radio" name="slider" class="sr-only peer/04">
  <input id="article-05" type="radio" name="slider" class="sr-only peer/05">

  <div class="
          absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
          peer-focus-visible/01:[&amp;_article]:ring
          peer-focus-visible/01:[&amp;_article]:ring-indigo-300
          peer-checked/01:relative
          peer-checked/01:z-50
          peer-checked/01:translate-x-0
          peer-checked/01:scale-100
          peer-checked/01:[&amp;>label]:pointer-events-none
          peer-checked/02:-translate-x-20
          peer-checked/02:scale-[83.75%]
          peer-checked/02:z-40
          peer-checked/03:-translate-x-40
          peer-checked/03:z-30
          peer-checked/04:-translate-x-40
          peer-checked/04:opacity-0
          peer-checked/05:-translate-x-40
          border rounded-lg shadow bg-[#242424] border-[#d6fd51]
      ">
    <label class="absolute inset-0" for="article-01"><span class="sr-only">Focus on the big picture</span></label>
    <article class="bg-[#242424] p-6 rounded-lg shadow-2xl">
      <header class="mb-2">
        <img class="inline-flex rounded-full shadow mb-3" src="./assets/icons/plate.webp" width="44" height="44"
          alt="Icon">
        <h1 class="text-xl font-bold text-white">Fit360 HISTORY</h1>
      </header>
      <div class="text-sm leading-relaxed text-gray-400 space-y-4 mb-2">
        <p>Founded in the early 2000s, Fit360 has emerged as a leading online fitness platform, renowned for its
          personalized workout routines and nutrition plans.
        </p>
        <p>
          Its user-friendly interface and innovative features have attracted a vast community of fitness enthusiasts
          worldwide, solidifying Fit360's position at the forefront of the digital fitness revolution.
        </p>
      </div>
      <footer class="text-right">
        <a href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-[#d6fd51] text-black hover:bg-[#242424] hover:text-white hover:border-2 border-[#d6fd51]">
          LEARN MORE
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </footer>
    </article>
  </div>

  <div class="
          absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
          peer-focus-visible/02:[&amp;_article]:ring
          peer-focus-visible/02:[&amp;_article]:ring-indigo-300
          peer-checked/01:translate-x-20
          peer-checked/01:scale-[83.75%]
          peer-checked/01:z-40
          peer-checked/02:relative
          peer-checked/02:z-50
          peer-checked/02:translate-x-0
          peer-checked/02:scale-100
          peer-checked/02:[&amp;>label]:pointer-events-none
          peer-checked/03:-translate-x-20
          peer-checked/03:scale-[83.75%]
          peer-checked/03:z-40
          peer-checked/04:-translate-x-40
          peer-checked/04:z-30
          peer-checked/05:-translate-x-40
          peer-checked/05:opacity-0
          border rounded-lg shadow bg-[#242424] border-[#d6fd51]
      ">
    <label class="absolute inset-0" for="article-02"><span class="sr-only">Focus on the big picture</span></label>
    <article class="bg-[#242424] p-6 rounded-lg shadow-2xl">
      <header class="mb-2">
        <img class="inline-flex rounded-full shadow mb-3 bg-gray-200" src="./assets/icons/dumbell.webp" width="44"
          height="44" alt="Icon">
        <h1 class="text-xl font-bold text-white">Fit360 HISTORY</h1>
      </header>
      <div class="text-sm leading-relaxed text-gray-400 space-y-4 mb-2">
        <p>Founded in the early 2000s, Fit360 has emerged as a leading online fitness platform, renowned for its
          personalized workout routines and nutrition plans.
        </p>
        <p>
          Its user-friendly interface and innovative features have attracted a vast community of fitness enthusiasts
          worldwide, solidifying Fit360's position at the forefront of the digital fitness revolution.
        </p>
      </div>
      <footer class="text-right">
        <a href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-[#d6fd51] text-black hover:bg-[#242424] hover:text-white hover:border-2 border-[#d6fd51]">
          LEARN MORE
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </footer>
    </article>
  </div>

  <div class="
          absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
          peer-focus-visible/03:[&amp;_article]:ring
          peer-focus-visible/03:[&amp;_article]:ring-indigo-300
          peer-checked/01:translate-x-40
          peer-checked/01:z-30
          peer-checked/02:translate-x-20
          peer-checked/02:scale-[83.75%]
          peer-checked/02:z-40
          peer-checked/03:relative
          peer-checked/03:z-50
          peer-checked/03:translate-x-0
          peer-checked/03:scale-100
          peer-checked/03:[&amp;>label]:pointer-events-none
          peer-checked/04:-translate-x-20
          peer-checked/04:scale-[83.75%]
          peer-checked/04:z-40
          peer-checked/05:-translate-x-40
          peer-checked/05:z-30
          border rounded-lg shadow bg-[#242424] border-[#d6fd51]
      ">
    <label class="absolute inset-0" for="article-03"><span class="sr-only">Focus on the big picture</span></label>
    <article class="bg-[#242424] p-6 rounded-lg shadow-2xl">
      <header class="mb-2">
        <img class="inline-flex rounded-full shadow mb-3 bg-gray-300" src="./assets/icons/hand.webp" width="44"
          height="44" alt="Icon">
        <h1 class="text-xl font-bold text-white">Fit360 HISTORY</h1>
      </header>
      <div class="text-sm leading-relaxed text-gray-400 space-y-4 mb-2">
        <p>Founded in the early 2000s, Fit360 has emerged as a leading online fitness platform, renowned for its
          personalized workout routines and nutrition plans.
        </p>
        <p>
          Its user-friendly interface and innovative features have attracted a vast community of fitness enthusiasts
          worldwide, solidifying Fit360's position at the forefront of the digital fitness revolution.
        </p>
      </div>
      <footer class="text-right">
        <a href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-[#d6fd51] text-black hover:bg-[#242424] hover:text-white hover:border-2 border-[#d6fd51]">
          LEARN MORE
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </footer>
    </article>
  </div>

  <div class="
          absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
          peer-focus-visible/04:[&amp;_article]:ring
          peer-focus-visible/04:[&amp;_article]:ring-indigo-300

          peer-checked/01:translate-x-40
          peer-checked/01:opacity-0

          peer-checked/02:translate-x-40
          peer-checked/02:z-30

          peer-checked/03:translate-x-20
          peer-checked/03:scale-[83.75%]
          peer-checked/03:z-40

          peer-checked/04:relative
          peer-checked/04:z-50
          peer-checked/04:translate-x-0
          peer-checked/04:scale-100
          peer-checked/04:[&amp;>label]:pointer-events-none

          peer-checked/05:-translate-x-20
          peer-checked/05:scale-[83.75%]
          peer-checked/05:z-40
          border rounded-lg shadow bg-[#242424] border-[#d6fd51]
      ">
    <label class="absolute inset-0" for="article-04"><span class="sr-only">Focus on the big picture</span></label>
    <article class="bg-[#242424] p-6 rounded-lg shadow-2xl">
      <header class="mb-2">
        <img class="inline-flex rounded-full shadow mb-3 bg-gray-200" src="./assets/icons/grip.webp" width="44"
          height="44" alt="Icon">
        <h1 class="text-xl font-bold text-white">Fit360 HISTORY</h1>
      </header>
      <div class="text-sm leading-relaxed text-gray-400 space-y-4 mb-2">
        <p>Founded in the early 2000s, Fit360 has emerged as a leading online fitness platform, renowned for its
          personalized workout routines and nutrition plans.
        </p>
        <p>
          Its user-friendly interface and innovative features have attracted a vast community of fitness enthusiasts
          worldwide, solidifying Fit360's position at the forefront of the digital fitness revolution.
        </p>
      </div>
      <footer class="text-right">
        <a href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-[#d6fd51] text-black hover:bg-[#242424] hover:text-white hover:border-2 border-[#d6fd51]">
          LEARN MORE
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </footer>
    </article>
  </div>

  <div class="
          absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
          peer-focus-visible/05:[&amp;_article]:ring
          peer-focus-visible/05:[&amp;_article]:ring-indigo-300
          peer-checked/01:translate-x-40
          peer-checked/02:translate-x-40
          peer-checked/02:opacity-0
          peer-checked/03:translate-x-40
          peer-checked/03:z-30
          peer-checked/04:translate-x-20
          peer-checked/04:scale-[83.75%]
          peer-checked/04:z-40
          peer-checked/05:relative
          peer-checked/05:z-50
          peer-checked/05:translate-x-0
          peer-checked/05:scale-100
          peer-checked/05:[&amp;>label]:pointer-events-none
          border rounded-lg shadow bg-[#242424] border-[#d6fd51]
      ">
    <label class="absolute inset-0" for="article-05"><span class="sr-only">Focus on the big picture</span></label>
    <article class="bg-[#242424] p-6 rounded-lg shadow-2xl">
      <header class="mb-2">
        <img class="inline-flex rounded-full shadow mb-3 bg-gray-200" src="./assets/icons/weight.webp" width="44"
          height="44" alt="Icon">
        <h1 class="text-xl font-bold text-white">Fit360 HISTORY</h1>
      </header>
      <div class="text-sm leading-relaxed text-gray-400 space-y-4 mb-2">
        <p>Founded in the early 2000s, Fit360 has emerged as a leading online fitness platform, renowned for its
          personalized workout routines and nutrition plans.
        </p>
        <p>
          Its user-friendly interface and innovative features have attracted a vast community of fitness enthusiasts
          worldwide, solidifying Fit360's position at the forefront of the digital fitness revolution.
        </p>
      </div>
      <footer class="text-right">
        <a href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-[#d6fd51] text-black hover:bg-[#242424] hover:text-white hover:border-2 border-[#d6fd51]">
          LEARN MORE
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </footer>
    </article>
  </div>
</div>